<main id="main" class="main">
  <div class="pagetitle">
    <h1>All Active Users</h1>
  </div>
  <section class="section mt-5">
    <div class="container" id="main-container">
      <div class="row">
        <div *ngFor="let users of allUsers" class="col-sm-3 mb-3 mb-sm-0">
          <div class="card" *ngIf="users.status === 'true'">
            <div class="card-body row">
              <!-- <div class="col-6">
                    <a href=""><img src="{{employee?.imageUrl}}" alt="" class="img-fluid rounded-circle w-60"></a>
                 </div> -->
              <div class="col-6 card-title align-self-center mb-0">
                <h5>{{ users.myUsername }}</h5>
              </div>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <i class="bi bi-envelope-fill float-right"></i>{{ users.email }}
              </li>
              <li class="list-group-item">
                <i class="bi bi-telephone-fill float-right"></i>Phone : +27{{
                  users.phone
                }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
