<main id="main" class="main">
  <div class="pagetitle">
    <h1>Dashboard</h1>
  </div>
  <section class="section dashboard">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-xxl-6 col-md-6">
            <div class="card info-card sales-card">
              <div class="filter"></div>
              <div class="card-body">
                <h5 class="card-title">All Admins</h5>
                <div class="d-flex align-items-center">
                  <div class="ps-3">
                    <h6>{{ totalAdmins }}</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xxl-6 col-md-6">
            <div class="card info-card revenue-card">
              <div class="filter"></div>
              <div class="card-body">
                <h5 class="card-title">All Users</h5>
                <div class="d-flex align-items-center">
                  <div class="ps-3">
                    <h6>{{ totalUsers }}</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xxl-6 col-md-6">
            <div class="card info-card revenue-card">
              <div class="filter"></div>
              <div class="card-body">
                <h5 class="card-title">Active Users</h5>
                <div class="d-flex align-items-center">
                  <div class="ps-3">
                    <h6>{{ totalActive }}</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xxl-6 col-md-6">
            <div class="card info-card revenue-card">
              <div class="filter"></div>
              <div class="card-body">
                <h5 class="card-title">Deactive Users</h5>
                <div class="d-flex align-items-center">
                  <div class="ps-3">
                    <h6>{{ totalDisable }}</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
