<div
  class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header"
>
  <app-header></app-header>

  <div class="app-main">
    <div class="app-sidebar sidebar-shadow">
      <app-sidebar></app-sidebar>
    </div>

    <div class="app-main__outer">
      <div class="app-main__inner">
        <div class="app-page-title">
          <div class="page-title-wrapper">
            <div class="page-title-heading">
              <div>Change Password</div>
            </div>
          </div>
        </div>

        <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
          <form [formGroup]="changePasswordForm" class="space-y-6">
            <div>
              <div class="flex items-center justify-between">
                <label
                  for="oldPassword"
                  class="block text-sm font-medium leading-6 text-gray-900"
                  >Old Password</label
                >
              </div>
              <div class="mt-2">
                <input
                  id="oldPassword"
                  name="oldPassword"
                  type="password"
                  autocomplete="current-password"
                  formControlName="oldPassword"
                  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                />
              </div>
              <small
                *ngIf="
                  changePasswordFormError['oldPassword'].invalid && isSubmitted
                "
                class="p-error"
                >Old Password is required
              </small>
            </div>

            <div>
              <div class="flex items-center justify-between">
                <label
                  for="newPassword"
                  class="block text-sm font-medium leading-6 text-gray-900"
                  >New Password</label
                >
              </div>
              <div class="mt-2">
                <input
                  id="newPassword"
                  name="newPassword"
                  type="password"
                  autocomplete="current-password"
                  formControlName="newPassword"
                  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                />
              </div>
              <small
                *ngIf="
                  changePasswordFormError['newPassword'].invalid && isSubmitted
                "
                class="p-error"
                >New Password is required
              </small>
            </div>

            <div>
              <div class="flex items-center justify-between">
                <label
                  for="confirmPassword"
                  class="block text-sm font-medium leading-6 text-gray-900"
                  >Confirm Password</label
                >
              </div>
              <div class="mt-2">
                <input
                  id="confirmPassword"
                  name="confirmPassword"
                  type="password"
                  autocomplete="current-password"
                  formControlName="confirmPassword"
                  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                />
              </div>
              <small
                *ngIf="
                  changePasswordFormError['confirmPassword'].invalid &&
                  isSubmitted
                "
                class="p-error"
                >Confirm Password is required
              </small>
              <small
                *ngIf="
                  validatePassword() &&
                  !changePasswordFormError['confirmPassword'].invalid
                "
                class="p-error"
                >New Password and Confirm Password do not match
              </small>
            </div>

            <div>
              <button
                (click)="onSubmit()"
                class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
              >
                Change Password
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
