<form [formGroup]="changePasswordForm">
  <div class="row mb-3">
    <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label"
      >Current Password</label
    >
    <div class="col-md-8 col-lg-9">
      <input
        name="password"
        type="password"
        class="form-control"
        id="currentPassword"
        formControlName="oldPassword"
      />
    </div>
    <small
      *ngIf="changePasswordFormError['oldPassword'].invalid && isSubmitted"
      class="p-error"
      >Old Password is required
    </small>
  </div>
  <div class="row mb-3">
    <label for="newPassword" class="col-md-4 col-lg-3 col-form-label"
      >New Password</label
    >
    <div class="col-md-8 col-lg-9">
      <input
        name="newpassword"
        type="password"
        class="form-control"
        id="newPassword"
        formControlName="newPassword"
      />
    </div>
    <small
      *ngIf="changePasswordFormError['newPassword'].invalid && isSubmitted"
      class="p-error"
      >New Password is required
    </small>
  </div>
  <div class="row mb-3">
    <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label"
      >Re-enter New Password</label
    >
    <div class="col-md-8 col-lg-9">
      <input
        name="renewpassword"
        type="password"
        class="form-control"
        id="renewPassword"
        formControlName="confirmPassword"
      />
    </div>
    <small
      *ngIf="changePasswordFormError['confirmPassword'].invalid && isSubmitted"
      class="p-error"
      >Confirm Password is required
    </small>
    <small
      *ngIf="
        validatePassword() &&
        !changePasswordFormError['confirmPassword'].invalid
      "
      class="p-error"
      >New Password and Confirm Password do not match
    </small>
  </div>
  <div class="text-center">
    <button (click)="onSubmit()" class="btn btn-outline-primary">
      Change Password
    </button>
  </div>
</form>
