<main id="main" class="main">
  <div class="pagetitle">
    <h1>All Users</h1>
  </div>
  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">All Users</h5>
            <table class="table datatable">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Username</th>
                  <th scope="col">Email</th>
                  <th scope="col">Phone</th>
                  <th scope="col">Status</th>
                  <th scope="col">Role</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let users of allUsers; let i = index">
                  <th scope="row">{{ i + 1 }}</th>
                  <td>{{ users.myUsername }}</td>
                  <td>{{ users.email }}</td>
                  <td>+27{{ users.phone }}</td>
                  <td>{{ users.status }}</td>
                  <td>{{ users.role }}</td>
                  <td>
                    <button class="btn btn-outline-success mr-2">Edit</button>
                    <button
                      (change)="onUpdateUserStatus(users.status, users.id)"
                      class="btn btn-outline-primary mr-2"
                    >
                      Deactivate
                    </button>
                    <button
                      (click)="onDeleteUser(users.id)"
                      class="btn btn-outline-danger"
                    >
                      Delete
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
