<main id="main" class="main">
  <div class="pagetitle">
    <h1>All Users</h1>
  </div>
  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">All Users</h5>
            <table class="table datatable">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Username</th>
                  <th scope="col">Email</th>
                  <th scope="col">Phone</th>
                  <th scope="col">Role</th>
                  <th scope="col">Status</th>
                  <th scope="col">Activate/ Deactivate</th>
                  <th scope="col">Update</th>
                  <th scope="col">Delete</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let users of allUsers; let i = index">
                  <th scope="row">{{ i + 1 }}</th>
                  <td>{{ users.myUsername }}</td>
                  <td>{{ users.email }}</td>
                  <td>+27{{ users.phone }}</td>
                  <td>{{ users.role }}</td>
                  <td *ngIf="users.status === 'true'">Active</td>
                  <td *ngIf="users.status === 'false'">Deactive</td>
                  <td>
                    <div class="form-check form-switch">
                      <input (change)="onUpdateUserStatus($event, users.id)" class="form-check-input" type="checkbox"
                        [checked]="users.status === 'false'" role="switch" id="flexSwitchCheckDefault" />
                      <input (change)="onUpdateUserStatus($event, users.id)" class="form-check-input" type="checkbox"
                        [checked]="users.status === 'true'" role="switch" id="flexSwitchCheckDefault" />
                    </div>
                  </td>
                  <td>
                    <button (click)="openUpdateUserModal(users.id)" class="btn btn-primary btn-sm"
                      data-bs-toggle="modal" data-bs-target="#basicModal">
                      <i class="bi bi-pencil"></i>
                    </button>
                  </td>
                  <td>
                    <button (click)="onDeleteUser(users.id)" class="btn btn-danger btn-sm">
                      <i class="bi bi-trash"></i>
                    </button>
                  </td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<!-- Edit Modal -->
<div class="modal fade" id="basicModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Update User</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="updateForm">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" class="form-control" id="username" aria-describedby="emailHelp"
              placeholder="Username" formControlName="myUsername" />
          </div>
          <small *ngIf="updateFormError['myUsername'].invalid && isSubmitted" class="p-error">Username is required
          </small>
          <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" name="email" class="form-control" id="email" placeholder="Email" readonly
              formControlName="email" />
          </div>
          <small *ngIf="updateFormError['email'].invalid && isSubmitted" class="p-error">Email is required
          </small>
          <div class="form-group">
            <label for="phone">Phone</label>
            <input type="text" name="phone" class="form-control" id="phone" name="phone" placeholder="Phone"
              formControlName="phone" />
          </div>
          <small *ngIf="updateFormError['phone'].invalid && isSubmitted" class="p-error">Phone is required
          </small>
          <div class="form-group">
            <label for="phone">Admin/ User </label>
            <div class="form-check form-switch">
              <input (change)="onUpdateUserRole($event)" [checked]="checkRole === 'false'" class="form-check-input"
                type="checkbox" role="switch" id="flexSwitchCheckDefault" formControlName="role" />
              <input (change)="onUpdateUserRole($event)" [checked]="checkRole === 'true'" class="form-check-input"
                type="checkbox" role="switch" id="flexSwitchCheckDefault" formControlName="role" />
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button (click)="onSubmitUpdateUser()" data-bs-dismiss="modal" class="btn btn-outline-primary">
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>