<main id="main" class="main">
  <div class="pagetitle">
    <h1>Data Tables</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item">Tables</li>
        <li class="breadcrumb-item active">Data</li>
      </ol>
    </nav>
  </div>
  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">All Users</h5>
            <table class="table datatable">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Username</th>
                  <th scope="col">Email</th>
                  <th scope="col">Phone</th>
                  <th scope="col">Status</th>
                  <th scope="col">Role</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mogau</td>
                  <td>mogau@gmail.com</td>
                  <td>0123456789</td>
                  <td>Active</td>
                  <td>Admin</td>
                  <td>
                    <button class="btn btn-outline-success mr-2">Edit</button>
                    <button class="btn btn-outline-primary mr-2">
                      Deactivate
                    </button>
                    <button class="btn btn-outline-danger">Delete</button>
                  </td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Mogau</td>
                  <td>mogau@gmail.com</td>
                  <td>0123456789</td>
                  <td>Active</td>
                  <td>User</td>
                  <td>
                    <button class="btn btn-outline-success mr-2">Edit</button>
                    <button class="btn btn-outline-primary mr-2">
                      Deactivate
                    </button>
                    <button class="btn btn-outline-danger">Delete</button>
                  </td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Mogau</td>
                  <td>mogau@gmail.com</td>
                  <td>0123456789</td>
                  <td>Deactive</td>
                  <td>User</td>
                  <td>
                    <button class="btn btn-outline-success mr-2">Edit</button>
                    <button class="btn btn-outline-primary mr-2">
                      Activate
                    </button>
                    <button class="btn btn-outline-danger">Delete</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
